<link rel="stylesheet" type="text/css" href="../static/css/employee.css">
<div class="container">
<div class="resume" style="text-align:center;">
    <header class="page-header">
    <h1 class="page-title">Resumes</h1>
   
  </header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="test">
              </figure>
              
              
              
            </div>
{% for item in EmployeeInfo %}
	<hr>
            <div class="col-xs-12 col-sm-8">
		 <h2>{{item[0]}}</h2>
              <ul class="list-group">
               
                <li class="list-group-item">{{item[1]}}</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> {{item[2]}} </li>
              </ul>
           
      <div class="bs-callout bs-callout-danger">
        <h4>Summary</h4>
        <p>
         {{item[3]}}
        </p>
        
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Education</h4>
        <p>
         {{item[4]}}
        </p>
      </div>

      <div class="bs-callout bs-callout-danger">
        <h4>Certification</h4>
        <ul class="list-group">
         
            <p>
              {{item[5]}}
            </p>
            
         
          
        </ul>
      </div>
		
	<div class="bs-callout bs-callout-danger">
        <h4>Skills</h4>
        <p>
         {{item[7]}}
        </p>
        
      </div>

	
            
		
      <div class="bs-callout bs-callout-danger">
        <h4>Previous Employers</h4>
        <p>
		{{item[6]}}
	</p>
      </div>
      

          </a>

        </ul>
      </div>
      {% endfor %}
 </div>
          </div>
        </div>
      </div>
  </div>
</div>
    
</div>

</div>


